<!DOCTYPE html>
<html>
<head>
    <title>Google Slides Demo</title>
</head>
<body>
    <iframe id="slides"
        src="https://docs.google.com/presentation/d/{{presentation_url}}/embed?start=false&loop=false&delayms=3000&amp;rm=minimal"
        frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
        webkitallowfullscreen="true"></iframe>
    <script>
        // Get the iframe element
        const slides = document.getElementById("slides");
        // Add a hashchange event listener to the iframe
        slides.addEventListener("hashchange", function () {
            // Get the hash part of the iframe src
            const hash = slides.src.split("#")[1];
            // Do something with the hash, such as sending it to the parent window
            console.log(hash);
            // Check if the hash exists
            if (hash) {
                // Encode the hash before sending it
                const encodedHash = encodeURIComponent(hash);
                // Use contentWindow.postMessage to send a message to the parent window with the encoded hash as the data
                slides.contentWindow.postMessage(encodedHash, "*");
            }
        });
        // Add a message event listener to the parent window
        window.addEventListener("message", function (event) {
            // Check if the message comes from the iframe
            if (event.source === slides.contentWindow) {
                // Get the data from the message
                const data = event.data;
                // Do something with the data, such as sending it to Flask
                console.log(data);
                // Use fetch to send a POST request to Flask with the data as the body
                fetch("/get_slide_hash", {
                    method: "POST",
                    body: data
                })
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error(error));
            }
        });
    </script>
</body>
</html>
